/**
 * Grid styles
 *
 * Generator - http://gridpak.com/
 * 12 Column Grid
 */

	body {min-width: 1240px} /* IE 8 */

	.boxed .wrap,
	.wrap.boxed,
	.boxed.post-meta-layout .wrap {
		width: 1240px;
		padding: 0;
	}
		.wrap.fullwidth,
		.fullwidth.post-meta-layout .wrap {width: 100%}
	.wrap-inner {
		width: 1240px;
		margin: 0 auto;
		padding: 0 60px;
	}
	.pane {
		position: relative;
		float: left;
		display: block;
		padding-left: 20px;
		padding-right: 20px;
	}
	.row {margin-bottom: 20px}

	.one.pane    { width:   8.333% }
	.two.pane    { width:  16.666% }
	.three.pane  { width:  25.0%   }
	.four.pane   { width:  33.333% }
	.five.pane   { width:  41.666% }
	.six.pane    { width:  50.0%   }
	.seven.pane  { width:  58.333% }
	.eight.pane  { width:  66.666% }
	.nine.pane   { width:  75.0%   }
	.ten.pane    { width:  83.333% }
	.eleven.pane { width:  91.666% }
	.twelve.pane { width: 100%     }

	/* Golden ratio */
		.golden-wide.pane   { width: 62% }
		.golden-narrow.pane { width: 38% }




