/**
 * HiDPI / Retina styles
 *
 * @version  1.5
 */

	@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	       only screen and (min--moz-device-pixel-ratio: 1.5),
	       only screen and (-moz-min-device-pixel-ratio: 1.5),
	       only screen and (-o-min-device-pixel-ratio: 3/2),
	       only screen and (min-device-pixel-ratio: 1.5),
	       only screen and (min-resolution: 144dpi),
	       only screen and (min-resolution: 1.5dppx) {

		pre {
			/*(*/
			background-image: url( '../img/lines@2x.png' );
			/*)*/
			/*//
			background-image: url('___theme_assets_url/img/lines@2x.png');
			//*/
			background-size: 10px 60px;
		}

	}




