/**
 * Borders
 *
 * @version  1.5
 */

	blockquote {
		/*(*/
		border-left: .5em solid #3b5998;
		/*)*/
		/*//
		border-left: .5em solid ___accent_color;
		//*/
	}
	blockquote.alignleft {
		/*(*/
		border-right: .5em solid #3b5998;
		/*)*/
		/*//
		border-right: .5em solid ___accent_color;
		//*/
	}



	/**
	 * Left only
	 */

		.border-left,
		.bordered th, .type-bordered th, .type-bordered-striped th,
		.bordered td, .type-bordered td, .type-bordered-striped td,
		.wm-tabbed-widgets .wm-tab-links li a,
		.wm-filter ul > li,
		.wm-accordion .wm-item-content,
		.wm-tab-links li:first-child,
		.nav-main li.megamenu > ul > li {
			border-left: 1px solid;
			border-color: inherit;
		}
			.wm-call-to-action {border-left-width: .62em}

		/* Dotted */
			.wm-countdown-timer .dash {
				border-left: 2px dotted;
				border-color: inherit;
			}



	/**
	 * Right only
	 */

		.border-right,
		.wm-accordion .wm-item-content,
		.wm-tab-links li {
			border-right: 1px solid;
			border-color: inherit;
		}




